.portfolio-tab:hover {
    padding: 15px 0;
}

@media screen and (max-width: 1200px)
{
    .portfolio-tab {
        flex-direction: row!important;
        justify-content: space-between;
        align-items: center;
        width: 1020px!important;
        height: 80px!important;
        padding: 10px 0;

    }
}