.experience-tab {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 4px 5px 5px 0px rgba(186,186,186,0.75);
    margin-bottom: 30px;
    width: 1000px;
    padding: 10px 20px;
    transition: all 500ms ease-out;
}

.experience-tab:hover {
    margin-left: 30px;
    box-shadow: 5px 6px 6px 0px rgba(186,186,186,0.85);
}

.exp-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.experience-tab p {
    font-style: italic;
    opacity: 0.8;
}


/* Media Queries */

@media screen and (max-width: 1500px)
{
    .experience-tab {
        width: 900px;
    }
}

@media screen and (max-width: 1400px)
{
    .experience-tab {
        width: 800px;
    }
}

@media screen and (max-width: 1300px)
{
    .experience-tab {
        width: 700px;
    }
}

@media screen and (max-width: 1200px)
{
    .experience-tab {
        width: 1000px;
    }
}
