body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

.App {
    margin: 20px;
}

.section-title {
    margin: 20px 0;
    color: #8b0d13;
    font-size: 1.5rem;
    font-style: bold;
}

.section-title::after {
    content: '';
    display: block;
    width: 25%;
    height: 1.5px;
    background: #8b0d13;
    margin-top: 5px;
}
